/* Main */

#main {
	/* margin-left: 35%; */
	max-width: 70em;
	padding: 4em 6em 4em 6em;
	width: calc(100% - 35%);
	overflow-y: auto;
	height: 100vh;
}

#main>section {
	border-top: solid 2px #efefef;
	margin: 4em 0 0 0;
	padding: 4em 0 0 0;
}

#main>section:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}