

/* XLarge */

@media screen and (max-width: 1800px) {

	/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

}

/* Large */

@media screen and (max-width: 1280px) {

	/* sidebar */

	#sidebar {
		padding: 6em 3em 3em 3em;
		width: 30%;
	}

	#sidebar h1 {
		font-size: 1.25em;
	}

	#sidebar h1 br {
		display: none;
	}

	#sidebar>.inner {
		margin-bottom: 0;
	}

	/* Footer */

	#footer .copyright li {
		border-left-width: 0;
		display: block;
		line-height: 1.25em;
		margin-left: 0;
		padding-left: 0;
	}

	/* Main */

	#main {
		/*margin-left: 30%;*/
		max-width: none;
		padding: 6em 3em 3em 3em;
		width: calc(100% - 30%);
	}

}

/* Medium */

@media screen and (max-width: 980px) {

	/* Basic */

	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
		display: none;
	}

	/* List */

	ul.icons li .icon {
		font-size: 1.25em;
	}

	/* sidebar */

	#sidebar {
		background-attachment: scroll;
		background-position: top left, center center;
		background-size: auto, cover;
		left: auto;
		padding: 6em 4em;
		position: relative;
		text-align: center;
		top: auto;
		width: 100%;
		display: block;
	}

	#sidebar h1 {
		font-size: 1.75em;
	}

	#sidebar h1 br {
		display: inline;
	}

	/* Footer */

	#footer {
		background-attachment: scroll;
		background-color: #1f1815;
		background-image: url("images/overlay.png"), url("../../images/bg.jpg");
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
		bottom: auto;
		left: auto;
		padding: 4em 4em 6em 4em;
		position: relative;
		text-align: center;
		width: 100%;
	}

	#footer .icons {
		margin: 0 0 1em 0;
	}

	#footer .copyright {
		margin: 0 0 1em 0;
	}

	#footer .copyright li {
		border-left-width: 1px;
		display: inline-block;
		line-height: 1em;
		margin-left: 0.75em;
		padding-left: 0.75em;
	}

	/* Main */

	#main {
		margin: 0;
		padding: 6em 4em;
		width: 100%;
	}

}

/* Small */

@media screen and (max-width: 736px) {

	/* Basic */

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.2em;
	}

	h3 {
		font-size: 1em;
	}

	/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	sidebar.major {
		text-align: center;
	}

	/* List */

	ul.labeled-icons li {
		padding-left: 2em;
	}

	ul.labeled-icons li h3 {
		line-height: 1.75em;
	}

	/* sidebar */

	#sidebar {
		padding: 2.25em 1.5em;
	}

	#sidebar h1 {
		font-size: 1.35em;
	}

	/* Footer */

	#footer {
		padding: 2.25em 1.5em;
	}

	/* Main */

	#main {
		padding: 2.25em 1.5em 0.25em 1.5em;
	}

	#main>section {
		margin: 2.25em 0 0 0;
		padding: 2.25em 0 0 0;
	}

	/* Poptrox */

	.poptrox-popup {
		border-radius: 0;
	}

	.poptrox-popup .nav-next:before,
	.poptrox-popup .nav-previous:before {
		margin-top: -1em;
	}

}

/* XSmall */

@media screen and (max-width: 480px) {

	/* sidebar */

	#sidebar {
		padding: 4.5em 1.5em;
	}

	#sidebar h1 br {
		display: none;
	}

	/* Footer */

	#footer .copyright li {
		border-left-width: 0;
		display: block;
		line-height: 2.25em;
		margin-left: 0;
		padding-left: 0;
	}

}